{
  // "parsor": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": ["off", {}, { "usePrettierrc": true }],
    "import/prefer-default-export": "off",
    "implicit-arrow-linebreak": "off",
    "operator-linebreak": "off",
    "react/require-default-props": "off",
    "jsx-quotes": "off",
    "react/react-in-jsx-scope": "off",
    "function-paren-newline": "off",
    "react/prop-types": "off",
    "global-require": "off",
    "react/jsx-wrap-multilines": "off",
    "object-curly-newline": "off",
    "linebreak-style": "off",
    "arrow-body-style": "off",
    "no-bitwise": "off",
    "@typescript-eslint/indent": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-indent": "off",
    "no-spaced-func": "off"
  }
}
