@font-face {
  font-family: 'nanum_gothic';
  src:
    url('./font/NanumGothic.ttf') format('woff'),
    url('./font/NanumGothic.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'nanum_gothic';
  src:
    url('./font/NanumGothicBold.ttf') format('woff'),
    url('./font/NanumGothicBold.otf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

html,
body,
ul,
span,
div {
  font-family: 'nanum_gothic';
}

.header {
  width: 100%;
  border: 1px solid rgb(230, 230, 230);
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 30px;
  justify-content: space-between;
  padding-right: 30px;
}

.mantine-List-item {
  word-break: keep-all;
}
